<ul class="list-group">
  <li class="list-group-item">
    <a [routerLink]="['student']"><strong>la liste des élèves</strong></a>
  </li>
  <li class="list-group-item">
    <a [routerLink]="['student/add']"><strong>Ajouter un élève</strong></a>
  </li>
  <li class="list-group-item">
    <a [routerLink]="['teacher']"><strong>la liste des enseignents</strong></a>
  </li>
  <li class="list-group-item">
    <a [routerLink]="['teacher/add']"><strong>Ajouter l'enseignent</strong></a>
  </li>
  <li class="list-group-item">
    <a [routerLink]="['document']"><strong>document List</strong></a>
  </li>
  <li class="list-group-item">
    <a [routerLink]="['document/add']"><strong>ajouer document</strong></a>
  </li>
</ul>
